
{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="">
                <legend class="">Create Student Account</legend>
                <div class="">
                    {{ form.name.label(class="") }}

                    {% if form.name.errors %}
                        {{ form.name(class="") }}
                        <div class="">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="") }}
                    {% endif %}
                </div>
                <div class="">
                    {{ form.roll_no.label(class="") }}

                    {% if form.roll_no.errors %}
                        {{ form.roll_no(class="") }}
                        <div class="">
                            {% for error in form.roll_no.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.roll_no(class="") }}
                    {% endif %}
                </div>
                <div class="">
                    {{ form.department.label(class="") }}

                    {% if form.department.errors %}
                        {{ form.department(class="") }}
                        <div class="">
                            {% for error in form.department.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.department(class="") }}
                    {% endif %}
                </div>
                <div class="">
                    {{ form.phone.label(class="") }}

                    {% if form.phone.errors %}
                        {{ form.phone(class="") }}
                        <div class="">
                            {% for error in form.phone.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.phone(class="") }}
                    {% endif %}
                </div>
                <div class="">
                    {{ form.email.label(class="") }}

                    {% if form.email.errors %}
                        {{ form.email(class="") }}
                        <div class="">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="") }}
                    {% endif %}
                </div>
                <div class="">
                    {{ form.current_password.label(class="") }}

                    {% if form.current_password.errors %}
                        {{ form.current_password(class="") }}
                        <div class="">
                            {% for error in form.current_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.current_password(class="") }}
                    {% endif %}
                </div>
                <div class="">
                    {{ form.confirm_passwd.label(class="") }}

                    {% if form.confirm_passwd.errors %}
                        {{ form.confirm_passwd(class="") }}
                        <div class="">
                            {% for error in form.confirm_passwd.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_passwd(class="") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="">
                {{ form.submit(class="") }}
            </div>
        </form>
    </div>
    <div class="">
        <small class="text-muted">
            Already Have an Account? <a class="ml-2" href="{{ url_for('users.login') }}">Sign In</a>
        </small>
    </div>
{% endblock content %}
